EXPO_PUBLIC_MOVIE_API_KEY=
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_PROJECT_NAME="jsm_rn_movie_app"
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://sfo.cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_DATABASE_ID=
#tabla de metricas de pelicuals trending
EXPO_PUBLIC_APPWRITE_COLLECTION_ID=metrics
#tabla de pelicuals favoritas
EXPO_PUBLIC_APPWRITE_FAVORITES_COLLECTION_ID=favorites
# NUEVO: necesario para React Native (bundleId / applicationId que registraste en Appwrite)
EXPO_PUBLIC_APPWRITE_PLATFORM=
# tabla de usuarios
EXPO_PUBLIC_APPWRITE_USERS_COLLECTION_ID=users
